<%= form_for @device do |f| %>
  <table class="device_form table">
    <colgroup>
      <col span="1" class="names">
      <col span="1" class="room-names">
      <col span="2" class="actions">
    </colgroup>

    <tr>
      <th>Name</th>
      <th>Room</th>
    </tr>

    <tr>
      <td>
        <%= f.text_field :name, placeholder: 'Intel Edison #1', autofocus: true %>
      </td>
      <td>
        <%= f.collection_select :room_id, Room.all, :id, :name,
              include_blank: true %>
      </td>
      <td>
        <%= f.button type: :submit do %>
          <%= fa_icon :save %> Save
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
