<h2>Devices</h2>

<table class="devices table">
  <colgroup>
    <col span="1" class="names">
    <col span="1" class="room-names">
    <col span="2" class="actions">
  </colgroup>

  <tr>
    <th>Name</th>
    <th>Room</th>
  </tr>

  <% @devices.each do |device| %>
  <tr>
    <td><%= device.name %></td>
    <td><%= device_room_name(device) %></td>
    <td>
      <%= link_to edit_device_path(device), class: 'icon-button' do %>
        <%= fa_icon :pencil %>
      <% end %>
      <%= link_to blink_device_path(device), class: 'icon-button',
            method: :post do %>
        <%= fa_icon :'lightbulb-o' %>
      <% end %>
      <%= link_to device_path(device), class: 'icon-button',
            method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= fa_icon :trash %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
